<%= render "shared/normal_header" %>
<%= render "shared/flash_message" %>
<div 
  data-controller="background"
  data-background-target="bg"
  data-background-sky-class="bg-sky-900"
  data-background-lime-class="bg-lime-900"
  class="w-full h-screen transition-colors duration-1000 bg-sky-900"
>

<div class="flex flex-col items-center gap-8 py-10">
<div class="text-center space-y-6 border bg-white max-w-5xl w-full p-8 rounded-xl text-lg">
<% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <div class="">
      <% case notification.action %>
      <% when "like" %>
        <span class="text-xl font-bold">
          「 <%= notification.visitor.name %> 」
        </span>さんが
        <span class="text-xl font-bold">
        「 <%= notification.notifiable.post.word %> 」 
        </span>にいいねしました
      <% when "visited_url" %>
      <span class="text-xl font-bold">
        「 <%= notification.visitor.name %> 」
      </span>さんがあなたのURLから
      <span class="text-xl font-bold">
      「 <%= notification.notifiable.facility.name %> 」
      </span>公式サイトに訪問しました
      <% else %>
        不明な通知です
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
<%= button_to "すべて既読にする",
      mark_notifications_as_read_notifications_path,
      method: :post,
      class: "px-3 py-2 rounded bg-white cursor-pointer" %>
</div>
<div class="mt-4 flex justify-center">
  <%= paginate @notifications, window: 1, outer_window: 1 %>
</div>
</div>