<%= render "shared/aqua_header" %>
<div class = "flex items-center justify-center bg-sky-900 min-h-screen">
    <div class="w-full max-w-6xl px-2 my-16">
        <div class="bg-sky-300 border rounded-lg shadow-md p-12">
            <div class="font-bold text-xl">
                <%= @post.user.name %>
            </div>
            <div class="mt-10 mb-4 font-bold text-xl">
                <%= @post.facility.name %> （ <%= @post.area.name %> ）
            </div>
            <div class="">
                <% if @post.image.attached? %>
                    <%= image_tag @post.image %>
                <% else %>
                    <%= image_tag "fish.png", class: "" %>
                <% end %>
            </div>
            <p class = "text-center mt-12 text-xl">「 思い出・ここが好き 」</p> 
            <div class= "mt-10 rounded-lg p-8 border bg-sky-900 text-xl text-white text-center"> 
                <%= @post.body %>  
            </div>
            <p class = "text-center mt-12 text-xl">「 水族館URL 」</p> 
            <div class= "underline mt-10 rounded-lg p-8 border bg-sky-900 text-xl text-white text-center"> 
                <%= link_to @post.facility.official_url, @post.facility.official_url, target: "_blank", rel: "noopener" %> 
            </div>
            <% if user_signed_in? %>
            <div class = "mt-6">
                <%= link_to likes_path(post_id: @post.id), 
                method: :post, 
                data: { "turbo-method": :post },
                class: (current_user.like?(@post) ? "text-red-500" : "text-white") do %>
                <i class="fa-solid fa-heart text-2xl"></i>
                <% end %>
            </div>
            <% end %>
        </div>
            <%# 投稿したユーザーだけが編集・投稿できる %>
            <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="flex justify-center items-center mt-8 text-xl text-white space-x-12">
            <%= link_to "編集", edit_post_path(category: "aqua"), class: "" %>
            <%= link_to "削除", post_path(@post), method: :delete, data: { turbo_method: :delete }, class: "" %>
        </div>
            <% end %>
        <%# ライン共有ボタン %>
        <div class="line-share-button mt-8 flex justify-center items-center">
            <div class="line-it-button" 
                data-lang="ja" 
                data-type="share-a" 
                data-env="REAL"
                data-url="<%= post_url(@post, category: "zoo") %>" 
                data-text="<%= @post.facility.name %>" 
                data-color="default"
                data-size="large" 
                data-count="true" 
                data-ver="3" 
                style="display: none;">
            </div>
        </div>
    </div>
</div>
