<%= render "shared/aqua_header" %>
<%= render "shared/flash_message" %>
<div class = "flex items-center justify-center h-full bg-sky-900 min-h-screen">
  <div class="max-w-7xl mb-10 mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <% @posts.each do |post| %>
      <% if post.category.name == "aqua" %>
      <div class="h-full card-body bg-sky-300 border rounded-xl shadow-md p-4 flex flex-col justify-between">
<%# 投稿をクリックしたときに詳細のurlに飛ぶように %>
        <div
  data-controller="redirect"
  data-redirect-url-value="<%= post_path(post, category: 'aqua') %>"
  data-action="click->redirect#navigate"
  role="button"
  class="cursor-pointer"
  data-turbo="false">
          <div class= "inline-block p-2 rounded-xl text-white bg-sky-900"> 
            <%= post.user.name %> 
          </div>
          <div class= "text-white p-4 text-xl font-bold text-center mt-4 mb-4 bg-sky-900 rounded-xl"> 
            「 <%= post.word %> 」 
          </div>
          <div class="">
              <% if post.image.attached? %>
                <%= image_tag post.image %>
              <% else %>
                <%= image_tag "fish.png", class: "" %>
              <% end %>
          </div>
        </div>
        <% if user_signed_in? %>
        <div class = "mt-2">
          <%= link_to likes_path(post_id: post.id), 
            method: :post, 
            data: { "turbo-method": :post },
            class: (current_user.like?(post) ? "text-red-500" : "text-white") do %>
            <i class="fa-solid fa-heart text-2xl"></i>
            <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
