<%= render "shared/zoo_header" %>
<div class = "flex items-center justify-center bg-lime-900 min-h-screen">
    <div class="w-full max-w-6xl px-2 my-16">
        <div class="bg-amber-700 border rounded-lg shadow-md p-4">
            <div class="font-bold text-xl">
                <%= @post.user.name %>
            </div>
            <div class="mt-10 mb-4 font-bold text-xl">
                <%= @post.facility.name %> （ <%= @post.area.name %> ）
            </div>
            <div class="">
                <% if @post.image.attached? %>
                    <%= image_tag @post.image %>
                <% else %>
                    <%= image_tag "kirin.png", class: "" %>
                <% end %>
            </div>
            <div class= "mb-8 mt-10 rounded-lg p-8 border bg-lime-900 text-xl text-center"> 
                「 <%= @post.body %> 」 
            </div>
        </div>
            <div class="flex justify-center items-center mt-8 text-xl text-white space-x-12">
                <%= link_to "編集", edit_post_path(category: "zoo"), class: "" %>
                <%= link_to "削除", post_path(@post), method: :delete, data: { turbo_method: :delete }, class: "" %>
            </div>
    </div>
</div>