<%= render "shared/zoo_header" %>
<%= render "shared/flash_message" %>
<div class = "flex items-center justify-center h-full bg-lime-900 min-h-screen">
  <div class="max-w-7xl mb-10 mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <div class="col-span-full flex justify-center">
      <%= render "search_form", q: @q, url: posts_path(category: "zoo") %>
    </div>
    <% @posts.each do |post| %>
      <div class="h-full card-body bg-amber-700 border rounded-xl shadow-md p-4 flex flex-col justify-between">
        <%# 投稿をクリックしたときに詳細のurlに飛ぶように %>
        <div
  data-controller="redirect"
  data-redirect-url-value="<%= post_path(post, category: 'zoo') %>"
  data-action="click->redirect#navigate"
  role="button"
  class="cursor-pointer"
  data-turbo="false">
          <div class= "inline-block p-2 text-center mt-4 mb-4 bg-lime-900 rounded-xl"> 
            <%= post.user.name %> 
          </div>
          <div class= "p-4 text-xl font-bold text-center mt-4 mb-4 bg-lime-900 rounded-xl"> 
            「 <%= post.word %> 」 
          </div>
          <div class="">
            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% else %>
              <%= image_tag "kirin.png", class: "" %>
            <% end %>
          </div>
        </div>
        <%= render partial: "likes/like_button", locals: { post: post } %>
      </div>
    <% end %>
    <div class="mt-4 col-span-full flex justify-center">
      <%= paginate @posts, window: 1, outer_window: 1 %>
    </div>
  </div>
</div>
